GLFW_ICON ICON "bcc.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  4,2,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Icybecka Studios"
      VALUE "FileDescription", "Beck's C Compiler"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "C Compiler"
      VALUE "LegalCopyright", "(c) 2023 Adam Beckingham"
      VALUE "OriginalFilename", "bcc.exe"
      VALUE "ProductName", "C Compiler"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
